{% extends "base.html" %}
{% block title %}HOW CASE STUDIES{% endblock %}

{% block content %}

<div class="container" style="max-width:1200px; margin:auto;">
    <h1 class="title">HOW Case Studies</h1>
<!-- Dropdown -->
    <form method="GET" action="/case_studies" class="dropdown-form">
        <label for="cong-select">Choose a congregation:</label>
        <select id="cong-select" name="id" required>
            <option value="">-- Select --</option>
            {% for c in congregations %}
                <option value="{{ c.congregation_id }}"
                    {% if selected_congregation and c.congregation_id == selected_congregation.congregation_id %}
                        selected
                    {% endif %}
                >{{ c.name }}</option>
            {% endfor %}
        </select>

        <button class="button", type="submit">View</button>
    </form>
</div>
{% if selected_congregation %}
<div class="case_study_container">
    <h2 class="section-title">{{ selected_congregation.name }}</h2>

    {% if case_studies %}
    <div class="case_study-block">
        {% for cs in case_studies %}
           <img src="{{ cs['case_study_path'] }}"
                alt="Congregation" 
                class="case_study_img">
            {% if current_user.is_authenticated %}
            <form method="POST" action="/delete_case_study/{{ cs.case_study_id }}">
                    <button type="submit" class="button" onclick="return confirm('Delete this case_study?')">Delete</button>
                </form>
             {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
    {% endif %}
{% endblock %}