{% extends "base.html" %}

{% block title %}Edit Climate Work{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Climate Work</h1>

    <form method="POST" action="" class="edit-form">

        <!-- READ ONLY: congregation name -->
        <label for="congregation_display">Congregation:</label>
        <input type="text" id="congregation_display" 
               value="{{ congregation_name }}" 
               disabled>

        <!-- WORK TYPE -->
        <label for="work_type">Work Type:</label>
        <input type="text" id="work_type" name="work_type" 
               value="{{ climate_work['work_type'] }}" required>

        <!-- START DATE-->
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" 
               value="{{ climate_work['start_date'] }}" required>

        <!-- END DATE -->
        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" 
               value="{{ climate_work['end_date'] }}" required>

        <!-- DESCRIPTION-->
        <label for="description">Description</label>
        <input type="text" id="description" name="description" 
               value="{{ climate_work['description'] }}">

        <!-- IMPACT -->
        <label for="impact">Impact</label>
        <input type="text" id="impact" name="impact" 
               value="{{ climate_work['impact'] }}">

       

        <div class="button-group">
            <button type="submit" class="button">Save Changes</button>
            <a href="/congregations?id={{ climate_work['congregation_id'] }}" class="button button-reject">Cancel</a>
        </div>

    </form>
</div>


{% endblock %}