{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <!-- Logo -->
    <div class="logo-container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    </div>

    <h1 class="title">Washtenaw Houses of Worship</h1>
    <p class="subtitle">A community database of congregations across Washtenaw County</p>

    <!-- Main Image -->
    <img src="{{ url_for('static', filename='cong_pic.png') }}" 
         alt="Congregation" 
         class="image">

    <ul class="links">
        <li><a href="/congregations">➤ View Congregations</a></li>
        <li><a href="/contacts">➤ Congregation Contacts</a></li>
        <li><a href="/case_studies">➤ Case Studies</a></li>
        {% if current_user.is_authenticated %}
           <li><a href="/forms">➤ Add New Data</a></li>
        {% endif %}
    </ul>
</div>


{% endblock %}